p, h2 {
  margin: 0
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.wrapper-icon-title {
  position: relative;
}

.icon-call-to-action {
  box-shadow: 0px 4px 15px rgb(0 0 0 / 5%);
  border-radius: 41px;
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.call-to-action{
  color: #446DFF !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.button {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #FFFFFF !important;
  width: 100% !important;
  padding: 12px !important;
  background: #446DFF !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  margin-top: auto !important;
  text-transform: inherit !important;
}

.login-form {
  max-width: 390px;
  width: 100%;
  margin: auto;
}

.MuiOutlinedInput-notchedOutline {
  display: none;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.wrapper-icon {
  width: 100px;
    height: 100px;
    background: #EFF2F5;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
}

label.MuiFormLabel-root {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #58667E;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
}

.MuiOutlinedInput-root input,
.MuiOutlinedInput-root .MuiSelect-select {
  padding: 15px;
  background: #EFF2F5;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #58667E;
  border: 1px solid #EFF2F5;
}

.MuiOutlinedInput-root input::placeholder {
  color: #A6B0C3;
}

.main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #11142D;
}

.main-cotain {
  color: #58667E;
  line-height: 150%;
}

.mb-2 {
  margin-bottom: 24px;
}